body {
    background-color: rgb(5, 5, 5);
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

h1 {
    color: rgb(253, 246, 246);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f96b06;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(116, 88, 29);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(2, 1, 1);
}

#home {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-color: #faf0d7;
    color: black;
    padding: 4em;
}

.about {
    padding-left:5em;
}
#departments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.department{
    background-color:  #ffd9c0;
    padding: 3em;
    color: black;
    
}